{% extends 'base.html' %}

{% block content %}

  <h1>detail.html</h1>
  <p>{{ article.id }}</p>
  <p>{{ article.title }}</p>
  <p>{{ article.content }}</p>
  <p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}</p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="200" height="200">
  {% endif %}

  <p>
    <a href="{% url 'articles:update' article.id%}">
      수정하기
    </a>
  </p>
  <p>
    <a href="{% url 'articles:delete' article.id%}">
      삭제하기
    </a>
  </p>
{% endblock %}
