{% extends 'base.html' %}
{% block content %}
  <h1>articles - detail.html</h1>
  <p>{{ article.id }}</p>
  <p>{{ article.title }}</p>
  <p>{{ article.content }}</p>
  <p>{{ article.updated_at }}</p>
  <p>
    <a href="{% url 'articles:update' article.id%}">
      수정
    </a>
  </p>
  <p>
    <a href="{% url 'articles:delete' article.id%}">
      삭제
    </a>
  </p>
  <hr>
  {% for comment in comments %}
    <p>{{ comment.content }}
      |
      {{ comment.created_at}}
      |
      <a href="{% url 'articles:comments_delete' article.pk comment.pk %}">
        댓글 삭제</a>
    </p>
    <hr>
    {% empty %}
    <p>댓글이 없습니다.</p>
  {% endfor %}
  <hr>
  <form action="{% url 'articles:comments_create' article.pk%}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>
{% endblock %}
