{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>index.html</h1>

  <table class="table">
    <thead>
      <th>ID</th>
      <th>이름</th>
      <th>이메일</th>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>
            <a href="{% url 'accounts:detail' user.id %}">
              {{ user.username }}
            </a>
          </td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- 페이지네이션 -->
  {% comment %} <nav>
    <ul>
      {% if users.has_previous %}
        <li>
          <a href="?page={{users.previous_page_number}}">
            이전으로
          </a>
        </li>
      {% else %}
        <li>
          <a href="#">
            이전으로
          </a>
        </li>
      {% endif %}
      <li>
        <a href="">{{ users.number }}/{{ users.paginator.num_pages }}</a>
      </li>
      {% if users.has_next %}
        <li>
          <a href="?page={{users.next_page_number}}">
            다음으로
          </a>
        </li>
      {% else %}
        <li>
          <a href="#">
            다음으로
          </a>
        </li>
      {% endif %}
    </ul>
  </nav> {% endcomment %}
  <!-- 페이지네이션 bootstrap-->
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{users.previous_page_number}}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">이전</a>
        </li>
      {% endif %}

      {% for page_number in users.paginator.page_range %}
        {% if page_number == users.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{users.next_page_number}}">다음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  {% comment %} <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{users.previous_page_number}}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">이전</a>
        </li>
      {% endif %}
      {% for page_number in users.paginator.page_range %}
        {% if page_number >= users.number | add : -1 and page_number <= users.number | add : 1 %}
          {% if page_number == users.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{users.next_page_number}}">다음</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
  </nav> {% endcomment %}

{% endblock content %}
