{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>update.html</h1>
  <div class="container">
    <form action="" method="POST">
      {% csrf_token %}

      {% bootstrap_form form %}
      <div class="d-grid mb-1">
        <input type="submit" value="수정하기" class="btn btn-primary">
      </div>
    </form>
    <a href="{% url 'accounts:delete'%}">
      <div class="d-grid mb-1">
        <button class="btn btn-danger">
          회원탈퇴
        </button>
      </div>
    </a>
    <a href="{% url 'accounts:index'%}">
      <div class="d-grid mb-1">
        <button class="btn btn-info">
          돌아가기
        </button>
      </div>
    </a>
  </div>

{% endblock content %}
