{% extends 'movie/base.html' %}

{% block content %}
<div class="container">
  <h1>index.html</h1>
  <a href="{% url 'movie:new' %}">
    리뷰 작성하기
  </a>
  <p></p>
  <table class="table">
    <thead>
      <tr>
        <th>리뷰 순서</th>
        <th>리뷰 제목</th>
        <th>생성 시간</th>
        <th>수정 시간</th>
      </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
    <tr>
      <td>{{review.id}}</td>
      <td>
        <a href="{% url 'movie:detail' review.pk %}">
            {{review.title}}
          </a>
        </td>
        <td>{{review.created_at}}</td>
        <td>{{review.updated_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  
{% endblock %}